# 670710742-สุกฤษฎิ์ ประสพแ้ว

พิมพ์ codes ใน cell แต่ละข้อตามคำสั่งของโจทย์ **ไม่ต้องลบโจทย์**

In [1]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

In [ ]:
#1. สร้างตัวแปร list ชื่อ animals เพื่อเก็บข้อมูลสัตว์ได้แก่ horse, monkey, cat, dog, tiger, lion, elephant และพิมพ์ออกมา

In [3]:
animals = ["horse", "monkey", "cat", "dog", "tiger", "lion", "elephant"]
print(animals)

['horse', 'monkey', 'cat', 'dog', 'tiger', 'lion', 'elephant']

In [ ]:
#2.พิมพ์ขนาดของ List ที่สร้างจากข้อ 1

In [14]:
print(len(animals))

7

In [ ]:
#3. เพิ่มข้อมูล rabbit เข้าไปต่อท้ายใน list ของข้อที่ 1 และพิมพ์ออกมา

In [28]:
animals.insert(7, "rabbit")
print(animals)

['horse', 'monkey', 'cat', 'dog', 'tiger', 'lion', 'elephant', 'rabbit']

In [ ]:
#4.แสดงข้อมูล tiger และ lion ออกมา

In [29]:
print(animals[4:6])

['tiger', 'lion']

In [ ]:
#5. สร้างตัวแปร tuple ชื่อ country ของชื่อประเทศได้แก่ Malaysia, China, Lao, France, Canada, India และพิมพ์ออกมา
#พร้อมทั้งแสดง type ของตัวแปร tuple ดังกล่าว

In [30]:
countny = ("Malaysia", "China", "Lao", "France", "Canada", "India")
print(countny, type(countny))

('Malaysia', 'China', 'Lao', 'France', 'Canada', 'India') <class 'tuple'>

In [ ]:
#6. เพิ่ม Poland เข้าไปใน tuple ที่สร้างในข้อ 5 และพิมพ์ออกมมา

In [31]:
countny = list(countny)
countny.append("Poland")
countny = tuple(countny)
print(countny)

('Malaysia', 'China', 'Lao', 'France', 'Canada', 'India', 'Poland')

In [ ]:
#7. สร้างตัวแปรประเภท dictionary ชื่อ car ที่มีปีทีผลิตและชื่อรถยนต์ และพิมพ์ข้อมูลออกมา โดยมีข้อมูลดังนี้
#2001, 2011, 2020 เป็นคีย์ มีค่าที่คู่กันคือ "Toyota", "BMW", Volvo ตามลำดับ

In [32]:
car = {2001 : "Toyota", 2011 : "BMW", 2020 : "Volvo"}
print(car)

{2001: 'Toyota', 2011: 'BMW', 2020: 'Volvo'}

In [ ]:
#8.จากข้อ 7 ใช้ function pop เพื่อลบ BMW ออก 
# พิมพ์สมาชิกออกมาหลังจากลบข้อมูลออกไปแล้ว

In [33]:
car.pop(2011)
print(car)

{2001: 'Toyota', 2020: 'Volvo'}

In [ ]:
#9.จากข้อ 7 เปลี่ยนรถยนต์ Toyota เป็น Honda พิมพ์ออกมา

In [34]:
car[2001] = "Honda"
print(car)

{2001: 'Honda', 2020: 'Volvo'}

In [1]:
#10. เพิ่มข้อมูลในตัวแปร car ปี 2015 รถยนต์ Mazda พิมพ์ข้อมูลออกมา

In [35]:
car[2015] = "Mazda"
print(car)

{2001: 'Honda', 2020: 'Volvo', 2015: 'Mazda'}

In [ ]:
#11. กำหนดข้อความเป็นดังนี้ Life Is Not So Easy.ให้พิมพ์คำว่า Is Not จากข้อความที่กำหนดมาให้ โดยใช้หลักการ slicing

In [37]:
text = "Life Is Not So Easy"
print(text[5:11])

Is Not

In [ ]:
#12. จากข้อ 11. เพิ่มคำว่า right? ท้ายจข้อความให้เป็น Life Is Not So Easy, Right?

In [39]:
text += ", Right?"
print(text)

Life Is Not So Easy, Right?

In [ ]:
#13. สร้างตัวแปรที่เป็น set ซึ่งมีสมาชิก  “apple”, “banana”, “mango”, and “orange”.

In [47]:
fruit = {"apple", "banana", "mango", "orange"}
print(fruit)

{'orange', 'apple', 'banana', 'mango'}

In [ ]:
#14. สร้างตัวแปร set ชุดที่่1 ที่มีสมาชิก {10, 20, 30, 40, 50} และตัวแปร set ชุดที่ 2 ที่มีสมาชิก {30, 40, 50, 60, 70}
#เชียน python code เพื่อนำข้อมูลสมาชิกของ set ชุดที่ 1 และชุดที่ 2 
#มาใช้เพื่อให้สมาชิกใน set ที่ประกอบไปด้วย {70, 40, 10, 50, 20, 60, 30}
# Hints : ข้อนี้ให้ใช้ union buit-in function

In [48]:
a = {10, 20, 30, 40, 50}
b = {30, 40, 50, 60, 70}
print(a.union(b))

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
#15. จากคำตอบข้อ 14. เรียงข้อมูลจากมากไปน้อย  และแสดง data type ของข้อมูลที่เรียงจากมากไปน้อยดังกล่าว

In [55]:
c = a.union(b)
c = sorted(c, reverse=True)
print(c)

[70, 60, 50, 40, 30, 20, 10]