In [66]:
%matplotlib inline
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [67]:
#1. อ่านไฟล์ข้อมูลชื่อ flight.csv 
flights = pd.read_csv("flights.csv")

In [68]:
#2 แสดงผลสถิติเชิงพรรณา
flights.describe()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,flight,air_time,distance,hour,minute
count,160754.0,160754.000000,160754.000000,158418.000000,158418.000000,158275.000000,157927.000000,160754.000000,157927.000000,160754.000000,158418.000000,158418.000000
mean,2013.0,6.547395,15.716567,1316.146006,9.463773,1517.471161,2.094537,1156.344987,180.685158,1282.445420,12.837582,32.387847
std,0.0,3.410001,8.762794,470.823715,36.545109,510.695413,41.479349,695.884283,97.507866,765.895383,4.725552,18.687423
min,2013.0,1.000000,1.000000,1.000000,-33.000000,1.000000,-75.000000,1.000000,21.000000,17.000000,0.000000,0.000000
25%,2013.0,4.000000,8.000000,855.000000,-5.000000,1112.000000,-19.000000,504.000000,111.000000,733.000000,8.000000,16.000000
50%,2013.0,7.000000,16.000000,1345.000000,-2.000000,1541.000000,-7.000000,1157.000000,153.000000,1076.000000,13.000000,32.000000
75%,2013.0,10.000000,23.000000,1725.000000,7.000000,1944.000000,9.000000,1715.000000,258.000000,1728.000000,17.000000,51.000000
max,2013.0,12.000000,31.000000,2400.000000,1014.000000,2400.000000,1007.000000,2599.000000,695.000000,4963.000000,24.000000,59.000000

In [69]:
#3. แสดงผล attribute name ของ distance hour minute ตั้งแต่ แถวที่ 50 ไปอีก 20 แถว
flights[["distance","hour","minute"]][50:70]

    distance  hour  minute
50      1605   7.0    27.0
51      1416   7.0    28.0
52       937   7.0    32.0
53       733   7.0    39.0
54      1400   7.0    39.0
55      2475   7.0    43.0
56      2422   7.0    43.0
57      2586   7.0    45.0
58      2565   7.0    46.0
59       950   7.0    52.0
60      1620   7.0    52.0
61       544   7.0    52.0
62      1096   7.0    53.0
63       762   7.0    54.0
64      1089   7.0    59.0
65      1020   8.0     0.0
66       187   8.0     3.0
67      2586   8.0     3.0
68       944   8.0     4.0
69       760   8.0     7.0

In [70]:
#4. แสดงผลเฉพาะ attribute name ชื่อ flight
flights[["flight"]]

        flight
0         1545
1         1714
2         1141
3          461
4         1696
...        ...
160749     475
160750    2363
160751     185
160752     523
160753     471

[160754 rows x 1 columns]

In [71]:
#5.แสดงผลสถิติแยกตามชื่อสนามบินปลายทาง (dest)
print(flights.groupby(['dest']).ngroups)
flights.groupby(['dest']).describe()

59

         year                                                         month  \
        count    mean  std     min     25%     50%     75%     max    count
dest
ANC       8.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0      8.0
ATL   10674.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0  10674.0
AUS    1392.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   1392.0
BDL       8.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0      8.0
BNA       1.0  2013.0  NaN  2013.0  2013.0  2013.0  2013.0  2013.0      1.0
BOS   10052.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0  10052.0
BQN     297.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0    297.0
BUF       3.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0      3.0
BZN      36.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0     36.0
CHS       1.0  2013.0  NaN  2013.0  2013.0  2013.0  2013.0  2013.0      1.0
CLE    1890.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   1890.0
CLT    8634.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   8634.0
CVG       4.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0      4.0
DCA    4720.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   4720.0
DEN    4839.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   4839.0
DFW    8351.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   8351.0
DTW    3876.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   3876.0
EGE     213.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0    213.0
EYW      17.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0     17.0
FLL    5492.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   5492.0
HDN      15.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0     15.0
HNL     365.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0    365.0
IAD       1.0  2013.0  NaN  2013.0  2013.0  2013.0  2013.0  2013.0      1.0
IAH    7198.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   7198.0
IND       5.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0      5.0
JAC      25.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0     25.0
JAX       1.0  2013.0  NaN  2013.0  2013.0  2013.0  2013.0  2013.0      1.0
LAS    4322.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   4322.0
LAX   11906.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0  11906.0
LGA       1.0  2013.0  NaN  2013.0  2013.0  2013.0  2013.0  2013.0      1.0
MCI      82.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0     82.0
MCO    7610.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   7610.0
MEM     432.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0    432.0
MIA   11728.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0  11728.0
MSP    2866.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   2866.0
MSY    1398.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   1398.0
MTJ      15.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0     15.0
OMA       3.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0      3.0
ORD   13043.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0  13043.0
PBI    3387.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   3387.0
PDX    1029.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   1029.0
PHL     635.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0    635.0
PHX    3860.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   3860.0
PIT     252.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0    252.0
PWM     235.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0    235.0
RDU       1.0  2013.0  NaN  2013.0  2013.0  2013.0  2013.0  2013.0      1.0
RSW    1498.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   1498.0
SAN    2074.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   2074.0
SAT     633.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0    633.0
SDF       3.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0      3.0
SEA    3409.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   3409.0
SFO   10099.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0  10099.0
SJU    3088.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   3088.0
SLC    2102.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   2102.0
SNA     825.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0    825.0
SRQ     265.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0    265.0
STL     905.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0    905.0
STT     522.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0    522.0
TPA    4408.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0   4408.0

                 ...  hour         minute                                     \
           mean  ...   75%   max    count       mean        std   min    25%
dest             ...
ANC    7.500000  ...  16.0  17.0      8.0  22.875000   9.818896  13.0  16.50
ATL    6.674443  ...  16.0  24.0  10582.0  37.215838  19.619933   0.0  21.00
AUS    6.275862  ...  17.0  23.0   1377.0  27.847495  18.451578   0.0  13.00
BDL   12.000000  ...  22.0  23.0      7.0  29.000000  14.742230   4.0  22.50
BNA    1.000000  ...  16.0  16.0      1.0   1.000000        NaN   1.0   1.00
BOS    6.582173  ...  18.0  24.0   9705.0  37.850180  18.275949   0.0  22.00
BQN    5.784512  ...  21.0  23.0    296.0  31.604730  15.989059   0.0  20.75
BUF    1.000000  ...  18.5  19.0      3.0   4.333333   5.859465   0.0   1.00
BZN    5.916667  ...   8.0  11.0     35.0  22.457143  13.393025   4.0  11.50
CHS    4.000000  ...  12.0  12.0      1.0  54.000000        NaN  54.0  54.00
CLE    6.010053  ...  18.0  23.0   1865.0  29.071314  15.688688   0.0  18.00
CLT    6.562428  ...  15.0  23.0   8510.0  30.277791  17.484225   0.0  15.00
CVG    2.250000  ...  13.0  16.0      4.0  47.250000  17.519037  21.0  46.50
DCA    6.455508  ...  17.0  23.0   4491.0  43.762414  18.488734   0.0  42.00
DEN    6.617690  ...  17.0  23.0   4796.0  29.227481  18.729950   0.0  12.00
DFW    6.340079  ...  16.0  23.0   8093.0  31.494378  18.450790   0.0  15.00
DTW    6.675439  ...  16.0  23.0   3841.0  32.752929  18.137198   0.0  18.00
EGE    3.286385  ...  17.0  21.0    208.0  35.105769  19.011778   0.0  21.75
EYW    8.235294  ...  10.0  11.0     17.0  23.941176  20.953731   0.0   5.00
FLL    6.208667  ...  17.0  23.0   5448.0  30.462188  18.709515   0.0  13.00
HDN    3.400000  ...   8.0   9.0     14.0  33.642857  13.047883  13.0  26.25
HNL    6.526027  ...  13.0  17.0    363.0  31.443526  11.874527   0.0  26.00
IAD    9.000000  ...   8.0   8.0      1.0  20.000000        NaN  20.0  20.00
IAH    6.578216  ...  17.0  23.0   7103.0  29.988033  17.049417   0.0  16.00
IND    5.000000  ...  15.0  17.0      5.0  28.800000  19.967474   8.0   9.00
JAC    8.120000  ...   9.0  12.0     22.0  24.409091  19.160125   0.0   8.00
JAX   12.000000  ...  20.0  20.0      1.0  29.000000        NaN  29.0  29.00
LAS    6.630495  ...  17.0  23.0   4295.0  30.143423  18.474580   0.0  13.00
LAX    6.661095  ...  18.0  23.0  11832.0  32.292174  18.351352   0.0  17.00
LGA    7.000000  ...   NaN   NaN      0.0        NaN        NaN   NaN    NaN
MCI    2.121951  ...  15.0  18.0     80.0  31.512500  12.851630   0.0  28.00
MCO    6.482654  ...  16.0  23.0   7567.0  32.306991  19.040449   0.0  16.00
MEM    5.534722  ...  17.0  22.0    424.0  32.627358  20.988296   0.0   8.00
MIA    6.557214  ...  16.0  24.0  11633.0  31.457148  18.840775   0.0  14.00
MSP    6.785415  ...  16.0  23.0   2839.0  25.168017  17.058566   0.0  10.00
MSY    6.351931  ...  18.0  23.0   1381.0  33.462708  18.365321   0.0  18.00
MTJ    3.400000  ...   9.0  11.0     14.0  19.142857  19.895331   2.0   5.50
OMA    5.000000  ...  14.5  15.0      3.0  38.333333  26.274195   8.0  30.50
ORD    6.744921  ...  17.0  24.0  12644.0  32.972003  19.877880   0.0  15.00
PBI    6.436965  ...  17.0  23.0   3360.0  30.224405  18.251124   0.0  15.00
PDX    7.089407  ...  18.0  22.0   1024.0  29.133789  18.857408   0.0  11.75
PHL    7.426772  ...  15.0  21.0    626.0  38.230032  17.205435   0.0  25.00
PHX    6.589637  ...  16.0  23.0   3821.0  29.404083  16.224425   0.0  17.00
PIT    5.067460  ...  19.0  23.0    249.0  33.425703  19.512287   0.0  16.00
PWM    4.506383  ...  21.0  23.0    233.0  30.772532  16.672678   0.0  19.00
RDU   12.000000  ...  21.0  21.0      1.0  50.000000        NaN  50.0  50.00
RSW    5.484646  ...  16.0  23.0   1480.0  31.054730  19.605069   0.0  12.00
SAN    6.647059  ...  17.0  22.0   2062.0  29.047527  16.681556   0.0  15.00
SAT    7.020537  ...  19.0  23.0    627.0  29.178628  16.375681   0.0  18.00
SDF    5.000000  ...  12.5  16.0      3.0  56.000000   2.000000  54.0  55.00
SEA    6.721619  ...  18.0  23.0   3391.0  29.758773  15.955605   0.0  18.00
SFO    6.845232  ...  17.0  23.0  10014.0  33.198222  18.576833   0.0  20.00
SJU    6.428433  ...  16.0  23.0   3073.0  34.860722  18.335242   0.0  19.00
SLC    6.474310  ...  17.0  23.0   2094.0  36.537727  17.879387   0.0  23.00
SNA    6.956364  ...  18.0  22.0    819.0  24.454212  17.401453   0.0  10.00
SRQ    4.860377  ...  10.0  17.0    263.0  37.463878  15.317929   0.0  21.50
STL    5.937017  ...  16.0  21.0    874.0  29.475973  15.958638   0.0  17.00
STT    5.524904  ...   9.0  14.0    518.0  28.389961  20.236667   0.0   9.00
TPA    6.348911  ...  18.0  23.0   4377.0  28.291067  18.219846   0.0  11.00


       50%    75%   max
dest
ANC   18.0  30.00  40.0
ATL   43.0  55.00  59.0
AUS   25.0  46.00  59.0
BDL   26.0  41.50  45.0
BNA    1.0   1.00   1.0
BOS   46.0  53.00  59.0
BQN   33.5  43.25  59.0
BUF    2.0   6.50  11.0
BZN   22.0  29.00  55.0
CHS   54.0  54.00  54.0
CLE   29.0  41.00  59.0
CLT   27.0  48.00  59.0
CVG   55.5  56.25  57.0
DCA   53.0  55.00  59.0
DEN   28.0  47.00  59.0
DFW   31.0  49.00  59.0
DTW   34.0  50.00  59.0
EGE   39.0  52.25  59.0
EYW   20.0  42.00  57.0
FLL   31.0  48.00  59.0
HDN   31.5  41.75  58.0
HNL   31.0  38.00  59.0
IAD   20.0  20.00  20.0
IAH   29.0  44.00  59.0
IND   32.0  42.00  53.0
JAC   22.0  40.50  55.0
JAX   29.0  29.00  29.0
LAS   29.0  49.00  59.0
LAX   31.0  50.00  59.0
LGA    NaN    NaN   NaN
MCI   32.0  38.00  58.0
MCO   32.0  51.50  59.0
MEM   41.0  50.00  59.0
MIA   33.0  50.00  59.0
MSP   25.0  36.00  59.0
MSY   38.0  50.00  59.0
MTJ    9.5  29.50  59.0
OMA   53.0  53.50  54.0
ORD   35.0  53.00  59.0
PBI   30.0  47.00  59.0
PDX   28.0  46.00  59.0
PHL   41.0  54.00  59.0
PHX   27.0  43.00  59.0
PIT   35.0  52.00  59.0
PWM   31.0  45.00  59.0
RDU   50.0  50.00  50.0
RSW   32.0  50.00  59.0
SAN   28.0  42.00  59.0
SAT   26.0  44.00  59.0
SDF   56.0  57.00  58.0
SEA   29.0  41.00  59.0
SFO   32.0  52.00  59.0
SJU   40.0  51.00  59.0
SLC   42.0  53.00  59.0
SNA   21.0  38.00  59.0
SRQ   44.0  49.00  58.0
STL   27.0  44.00  59.0
STT   22.0  49.00  59.0
TPA   28.0  43.00  59.0

[59 rows x 96 columns]

In [72]:
#6. แสดงผลค่าเฉลี่ยของระยะทางที่บิน (distance)
flights["distance"].mean()

1282.4454197096184

In [78]:
#7. ให้แสดงผลค่าเฉลี่ยของระยะทางที่บิน (distance) แยกตามกลุ่มเที่ยวบิน (flight)
#print(flights.groupby(['flight','distance']).ngroups)
flights.groupby("flight")["distance"].mean()

flight
1       2396.989924
3       2451.590786
4       1248.033445
5       2402.000000
6       1990.000000
           ...
2594    1587.000000
2595    2454.000000
2596    2248.000000
2598    1089.000000
2599     187.000000
Name: distance, Length: 1820, dtype: float64

In [79]:
#8. ให้พิมพ์ค่าเฉลี่ยของการออกไม่ตรงเวลาของสายการบิน (dep_delay)
flights["dep_delay"].mean()

9.46377305609211

In [83]:
#9. ต้องการแสดงผลเฉพาะสนามบินปลายทางที่ชื่อ DEN
flights[flights["dest"] == "DEN"]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
28,2013,1,1,646.0,1.0,910.0,-6.0,UA,N569UA,883,LGA,DEN,243.0,1620,6.0,46.0
50,2013,1,1,727.0,-3.0,959.0,7.0,UA,N37462,1162,EWR,DEN,254.0,1605,7.0,27.0
60,2013,1,1,752.0,2.0,1025.0,-4.0,UA,N511UA,477,LGA,DEN,249.0,1620,7.0,52.0
72,2013,1,1,813.0,-2.0,1103.0,7.0,DL,N375NC,914,LGA,DEN,267.0,1620,8.0,13.0
101,2013,1,1,906.0,23.0,1134.0,9.0,UA,N17139,1643,EWR,DEN,246.0,1605,9.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160606,2013,9,30,1614.0,-5.0,1814.0,-25.0,UA,N408UA,485,EWR,DEN,214.0,1605,16.0,14.0
160638,2013,9,30,1703.0,18.0,1915.0,0.0,DL,N301NB,884,LGA,DEN,212.0,1620,17.0,3.0
160642,2013,9,30,1707.0,-8.0,1918.0,-19.0,UA,N511UA,509,LGA,DEN,213.0,1620,17.0,7.0
160672,2013,9,30,1802.0,-3.0,2022.0,-6.0,UA,N39415,1139,EWR,DEN,228.0,1605,18.0,2.0
160698,2013,9,30,1855.0,-5.0,2057.0,-34.0,DL,N3731T,2454,JFK,DEN,214.0,1626,18.0,55.0

In [92]:
#10. ต้องการแสดงผลเฉพาะ attribute dep_delay และ arr_delay ของสนามบินปลายทางที่ชื่อ DEN
flights[flights["dest"] == "DEN"][["dep_delay","arr_delay"]]

        dep_delay  arr_delay
28            1.0       -6.0
50           -3.0        7.0
60            2.0       -4.0
72           -2.0        7.0
101          23.0        9.0
...           ...        ...
160606       -5.0      -25.0
160638       18.0        0.0
160642       -8.0      -19.0
160672       -3.0       -6.0
160698       -5.0      -34.0

[4839 rows x 2 columns]

In [93]:
#11. ตรวจสอบว่าข้อมูลที่อยู่ในไฟล์ csv มี missing value หรือไม่
flights[ flights['arr_delay'].isnull( )]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
330,2013,1,1,1807.0,29.0,2251.0,NaN,UA,N31412,1228,EWR,SAN,NaN,2425,18.0,7.0
403,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EHAA,791,LGA,DFW,NaN,1389,NaN,NaN
404,2013,1,1,NaN,NaN,NaN,NaN,AA,N3EVAA,1925,LGA,MIA,NaN,1096,NaN,NaN
855,2013,1,2,2145.0,16.0,NaN,NaN,UA,N12221,1299,EWR,RSW,NaN,1068,21.0,45.0
858,2013,1,2,NaN,NaN,NaN,NaN,AA,NaN,133,JFK,LAX,NaN,2475,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159681,2013,9,28,1214.0,-11.0,1801.0,NaN,AA,N488AA,300,EWR,DFW,NaN,1372,12.0,14.0
159854,2013,9,28,NaN,NaN,NaN,NaN,AA,N320AA,1,JFK,LAX,NaN,2475,NaN,NaN
159855,2013,9,28,NaN,NaN,NaN,NaN,US,NaN,581,EWR,CLT,NaN,529,NaN,NaN
160185,2013,9,29,1734.0,23.0,2159.0,NaN,UA,N463UA,327,EWR,PDX,NaN,2434,17.0,34.0
160286,2013,9,29,NaN,NaN,NaN,NaN,UA,NaN,331,LGA,ORD,NaN,733,NaN,NaN

In [100]:
#12. นับจำนวน missing value ของ dep_time 
flights[['dep_time']].isnull().sum()

dep_time    2336
dtype: int64

In [103]:
#13. จากข้อ 12 เลือกวิธีการที่เหมาะสมสำหรับจัดการกับค่า missing value 
mean_dep_delay = flights['dep_time'].mean()
average_nomiss =flights['dep_time'].fillna(mean_dep_delay)
average_nomiss

0          517.0
1          533.0
2          542.0
3          554.0
4          554.0
           ...
160749    2105.0
160750    2121.0
160751    2140.0
160752    2149.0
160753    2233.0
Name: dep_time, Length: 160754, dtype: float64

In [113]:
#14.เลือกวิธีการที่เหมาะสมสำหรับจัดการกับค่า missing value ของ tailnum และแสดงให้เห็นว่าไม่มีค่า missing ของ attribute นี้
max_tail_tailnum = flights['tailnum'].value_counts().idxmax()
max_tail_tailnum = flights['tailnum'].fillna('N328AA').isnull().any()
max_tail_tailnum

False

In [120]:
#15.เลือกวิธีการที่เหมาะสมสำหรับจัดการกับค่า missing value ของ tailnum และแสดงให้เห็นว่าไม่มีค่า missing ของ attribute นี้ ใช้ mode
mode_tail_tailnum = flights['tailnum'].mode()
mode_tail_tailnum = flights['tailnum'].fillna('N328AA').isnull().any()
mode_tail_tailnum

False

## อ่านไฟล์ housing.csv

In [117]:
df = pd.read_csv("housing.csv")

In [18]:
#16.ใช้ matplotlib เพื่อสร้าง histogram ที่แสดงข้อมูล  SalePrice เป็น 10 ช่วง สีของ histogram เป็นสีเหลือง และขอบของ histogram เป็นแดง

In [20]:
#17.ใช้ seaborn เพื่อสร้าง scatter plot ระหว่าง GrLivArea, SalePrice

In [21]:
#18.สร้างกราฟวงกลมที่แสดงความสัมพันธ์ระหว่างลักษณะของบ้าน (HouseStyle) กับ ราคาขายบ้าน

In [22]:
#19.ใช้ seaborn เพื่อสร้าง histogram ที่แสดงข้อมูล  SalePrice เป็น 10 ช่วง สีของ histogram เป็นเขียว และขอบของ histogram สีม่วง

In [23]:
#20.ใช้ seaborn เพื่อสร้าง linear regression plot ระหว่าง GrLivArea, SalePrice

In [24]:
#21. plot boxplot ของ LotArea

In [25]:
#22. plot กราฟแท่ง ระหว่าง SaleType และ SalePrice

In [26]:
#23. plot กราฟแท่งเพื่อดูจำนวนของ LandContour กับ ราคาขาย SalePrice แยกสีตามปีที่ขาย

In [27]:
#24.plot กราฟเส้นแสดงความสัมพันธ์ระหว่าง MSSubClass และ Sa;ePrice โดยแสดงสีตามปีที่ขาย YrSold

In [28]:
#25. plot scatter plot plot ระหว่าง LotArea และ SalePrice โดยให้สีแสดงแยกตามปีที่ขาย YrSold